
body {
  font-family: Montserrat;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

    /* Headings */

.big-heading {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

/* section */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}


/* Navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.4rem;
  font-family: Montserrat;
  font-weight: 400;
}


/* Title section */



#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}


/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title image */
.img-iphone {
  transform: rotate(25deg);
  /* Equal to rotateZ(30deg) */
  width: 22%;
  right: 23%;
  position: absolute;
}

/* features */
#features {
  position: relative;
  z-index: 1;
}

.fa-img {
  color: #ef8172;
  margin-bottom: 1rem;
}

.fa-img:hover {
  color: #ff4c58;
}

.features-div {
  padding: 0 6%;
}

.feature-title {
  font-size: 1.5rem;
}


/* Testimonials */
#testimonials {
  background-color: #ef8172;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* press */
#press {
  background-color: #ef8172;
}

.press-logo {
  width: 13%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 5%;
}

.price-features-1 {
  line-height: 2.38rem;
}

.price-features-2 {
  line-height: 2.32rem;
}

.btn-signup {
  width: 100%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-col {
  padding: 3% 2%;
}

/* mobile-mod */
@media (max-width: 990px) {
  .img-iphone {
    position: static;
    transform: rotate(0);
    width: 50%;
  }

  #title {
    text-align: center;
  }
}

@media (min-width: 1220px) and (max-width:1350px) {
  .img-iphone {
    width: 19rem;
    top: 23%;
  }
}

@media (min-width: 1170px) and (max-width:1220px) {
  .img-iphone {
    width: 19rem;
    top: 30%;
    right: 19%;
  }
}

@media (min-width: 990px) and (max-width:1170px) {
  .img-iphone {
    width: 19rem;
    top: 38%;
    right: 17%;
  }
}

/* Call to Action */


.download-btn {
  margin: 5% 2% 0;
}

/* footer */
#footer {
  padding: 5% 15%;
  background-color: #fff;
}

.footer-icon {
  font-size: 1.3rem;
  padding: 0 1% 2%;
}
